html{
	scroll-behavior: smooth ;
}
body{
	margin: 0px;
}
div{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

div:nth-child(1){
	background-color: blue;
}
div:nth-child(2){
	background-color: lightblue;
}
a{
	text-decoration:none ;
	color: white;
	font-size: 30px;
}